{% load bootstrap5 %}
{% load static %}

<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<style>
	@font-face { font-family: CustomFont; src: url("{% static 'font.ttf' %}"); } 
	h1 {
	 font-family: CustomFont
	}
	p { font-family: CustomFont }
</style>
<div class="p-3 mb-2 h-100 w-100 bg-dark text-danger text-center">

<h1>Make the Upside Down Speak</h1>
<p>Type a message and something in the Upside Down will say it back to you</p>

<form action='/' method='post'>
    {% csrf_token %}
    {% bootstrap_form speak_form %}
    {% buttons %}
        <input type='submit' class='btn-danger btn-lg'value='Speak'>
    {% endbuttons %}
</form>

<h1>Ask the Upside Down a Question</h1>
<p>Say a question out-loud and press this button to have something in the Upside Down answer it</p>

<form action='/' method='post'>
    {% csrf_token %}
    {% bootstrap_form eight_ball_form %}
    {% buttons %}
        <input type='submit' class='btn-danger btn-lg' value='Ask'>
    {% endbuttons %}
</form>

</div>
